$themes:( light:( textColor:#0000, background:white, logo:darkblue, backgroundsoft:#f6f3f3, textColrsoft:#555, border:lightgray, ), dark:( textColor:whitesmoke, background:#222, logo:white, backgroundsoft:#333, textColrsoft:lightgray, border:#444, ), );
@mixin themify($themes) {
    @each $theme,
    $map in $themes {
        .theme-#{$theme} & {
            $theme-map: () !global;
            @each $key,
            $submap in $map {
                $value:map-get(map-get($themes, $theme), "#{$key}");
                $theme-map: map-merge( $theme-map, ( $key: $value, ))!global;
            }
            @content;
            $theme-map:null !global;
        }
    }
}

@function themed($key) {
    @return map-get($theme-map, $key);
}